@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

//define global variables for styles
:root {
  --font-family: "Roboto", sans-serif;
  --font-size: 1rem;
  --font-weight: 400;
  --line-height: 1.5;
  --color: #004643;
  --background-color: #ccc;
  --button-color: #f9bc60;
  --tile-color: #abd1c6;
  --button-text: #001e1d;
}

//define global styles
body {
  margin: 0;
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  color: var(--color);
  background: linear-gradient(to bottom, var(--background-color) 0%, var(--color) 100%);
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn-1 {
  letter-spacing: 0;
  list-style-type: none;
  padding: 5px;
}

.btn-1:hover,
.btn-1:active {
  letter-spacing: 5px;
}

.btn-1:after,
.btn-1:before {
  backface-visibility: hidden;
  border: 1px solid rgba(#fff, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}

.btn-1:hover:after,
.btn-1:hover:before {
  backface-visibility: hidden;
  border-color: #fff;
  transition: width 350ms ease-in-out;
  width: 70%;
}

.btn-1:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
}

.categories-list a{
  color: var(--button-text);
}


.activity-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: fit-content;
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 5%;
  padding:4%;
  background: var(--tile-color);
  color: #000000;
  border-radius: 25px;
}

.activity-show {
  display: block;
  padding-left: 3%;
  text-align: center;
}

.activity-tile {
  width: 90%;
  height: 90%;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.no-dot-list li {
  list-style-type: none;
  margin: 5px;
}

.text-box{
  margin: 0 auto;
  width:50%;
  background-color: #8fbdd1;
}

.form-style{
  text-align: center;
}

.containerBtn {
	width: 1000px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.containerBtn .btn {
	position: relative;
	top: 0;
	left: 0;
	width: 250px;
	height: 50px;
	margin: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.containerBtn .btn a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(255, 255, 255, 0.05);
	box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 30px;
	padding: 10px;
	letter-spacing: 1px;
	text-decoration: none;
	overflow: hidden;
	color: var(--button-text);
	font-weight: 400px;
	z-index: 1;
	transition: 0.5s;
	backdrop-filter: blur(15px);
}
.containerBtn .btn:hover a {
	letter-spacing: 3px;
}
.containerBtn .btn a::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
	transform: skewX(45deg) translate(0);
	transition: 0.5s;
	filter: blur(0px);
}
.containerBtn .btn:hover a::before {
	transform: skewX(45deg) translate(200px);
}
.containerBtn .btn::before {
	content: "";
	position: absolute;
	left: 50%;
	transform: translatex(-50%);
	bottom: -5px;
	width: 30px;
	height: 10px;
	background: var(--button-color);
	border-radius: 10px;
	transition: 0.5s;
	transition-delay: 0.5;
}
.containerBtn .btn:hover::before /*lightup button*/ {
	bottom: 0;
	height: 50%;
	width: 80%;
	border-radius: 30px;
}

.containerBtn .btn::after {
	content: "";
	position: absolute;
	left: 50%;
	transform: translatex(-50%);
	top: -5px;
	width: 30px;
	height: 10px;
	background: var(--button-color);
	border-radius: 10px;
	transition: 0.5s;
	transition-delay: 0.5;
}
.containerBtn .btn:hover::after /*lightup button*/ {
	top: 0;
	height: 50%;
	width: 80%;
	border-radius: 30px;
}
